---
layout: default
---
<section id="committee" class="container panel clear-header">
  <h3>{{ page.title }}</h3>
  <figure class="chair_img">
    <img src="{{ site.baseurl }}/images/chairpersons/{{ page.name | remove: 'md' }}jpg">
    <figcaption>
      {{ page.chair }}<br>
      <a href="mailto:chair.{% if page.email != null %}{{ page.email }}{% else %}{{ page.name | remove: '.md' }}{% endif %}@doonschool.com">chair.{% if page.email != null %}{{ page.email }}{% else %}{{ page.name | remove: '.md' }}{% endif %}@doonschool.com</a>
    </figcaption>
  </figure>
  {{ content }}
  <br>
  <a href="{{ site.baseurl }}/bgs/{{ page.name | remove: 'md' }}pdf" class="btn">Background Guide</a>
</section>