---
layout: default
---
<section id="committee" class="container panel clear-header">
  <h3>{{ page.title }}</h3>
  <figure class="chair_img">
    <img src="{{ site.baseurl }}/images/chairpersons/{{ page.name | remove: 'md' }}jpg">
    <figcaption>
      {{ page.chair }}<br>
      <a href="mailto:chair.{% if page.email != null %}{{ page.email }}{% else %}{{ page.name | remove: '.md' }}{% endif %}@doonschool.com">chair.{% if page.email != null %}{{ page.email }}{% else %}{{ page.name | remove: '.md' }}{% endif %}@doonschool.com</a>
    </figcaption>
  </figure>
  {{ content }}
  <br>
  <a href="{{ site.baseurl }}/bgs/{{ page.name | remove: 'md' }}pdf" class="btn" target="_blank" rel="noopener noreferrer">Background Guide</a>
  
  {% if page.groupid != null %}
    <a href="https://www.facebook.com/groups/{{ page.groupid }}" class="btn" target="_blank" rel="noopener noreferrer">
      <svg class="fb" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 32 32"><path fill="#000000" d="M26.667 0h-21.334c-2.945 0-5.333 2.388-5.333 5.334v21.332c0 2.946 2.387 5.334 5.333 5.334h10.667v-14h-4v-4h4v-3c0-2.761 2.239-5 5-5h5v4h-5c-0.552 0-1 0.448-1 1v3h5.5l-1 4h-4.5v14h6.667c2.945 0 5.333-2.388 5.333-5.334v-21.332c0-2.946-2.387-5.334-5.333-5.334z"></path></svg>
      Join the committee group
    </a>
  {% endif %}
</section>